@use 'variables';

.event {
    padding: 80px 0;

    &--frontend {
        background-image: linear-gradient(variables.$color1, variables.$color2);
    }

    &--ui-ux {
        background-image: linear-gradient(variables.$color2, variables.$color3);
    }

    &--data-science {
        background-image: linear-gradient(variables.$color3, variables.$color4);
    }

    &--backend {
        background-image: linear-gradient(variables.$color4, variables.$color3);
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;
        }
    }

    &__social-icons {
        display: flex;
        gap: 16px; /* Espaçamento entre os ícones */
        margin-top: 16px; /* Adiciona um espaçamento superior */
        
        a img {
            width: 32px;  /* Largura dos ícones */
            height: auto; /* Mantém a proporção dos ícones */
            transition: transform 0.3s ease; /* Transição suave ao passar o mouse */
            
            &:hover {
                transform: scale(1.1); /* Aumenta levemente os ícones ao passar o mouse */
            }
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}
