$textColor: #fff;
$secondaryTextColor: #000;
$purple: #4f2ac3;

$color1: #1B6CA7;
$color2: #442BDB;
$color3: #442BDB;
$color4: #89223B;
$color5: #89223B;
$color6: #9C791D;
$color7: #9C791D;
$color8: #89223B;